# SO / IDE / editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Ambiente / segredos
.env
.env.backup
.env.production
auth.json

# Laravel padrão
/node_modules
/vendor
/public/hot
/public/storage
/public/build
/storage/*.key
/.phpunit.result.cache
/.phpunit.cache
/.phpactor.json

# Logs de ferramentas
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Homestead (se não usar, ignore mesmo)
Homestead.json
Homestead.yaml
